{
  "settings": {
    "ecmascript": 5
  },
  "parserOptions": {
    "ecmaVersion": 5
  },
  "extends": "google",
  "installedESLint": true,
  "rules": {
    "no-var": "off",
    "require-jsdoc": 1
  },
  {
  "plugins": [
  "eslint",
  "eslint-plugin-standard"
  ]
  }
}
